body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

header {
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  margin-bottom: 20px;
}

.product-image {
  margin-right: 20px;
}

.cart-item-image {
  width: 100px;
}

.product-details {
  flex-grow: 1;
}

.product-title {
  font-size: 18px;
  margin: 0 0 5px;
}

.product-price,
.product-quantity,
.product-total-price {
  margin: 0;
}

.remove-from-cart-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
